
.styleEjemplo {
    display: block;
    width: 150px;
    height: 100px;
    background-color: #e60018;


}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #fffc00;
    padding: 10px;
}
.body {
    background-color: #e60018;
    width: 800px;
    margin: 0 auto;
}

.h1 {

    color: #fffc00;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;

}



